.uw-Divider {
  all: unset;
  display: block; /* explicitly set this so horizontal dividers show inside block elements */
  align-self: stretch;
  flex-shrink: 0;
  background-color: var(--color-grey175);

  &:where(.uw-divider-color) {
    background-color: var(--divider-color);
  }

  &:where([data-orientation='horizontal']) {
    height: 1px;
    width: auto;
  }

  &:where([data-orientation='vertical']) {
    height: auto;
    width: 1px;
  }
}
