/**
 * These styles are derived from the following CSS resets:
 *
 * - https://www.joshwcomeau.com/css/custom-css-reset/
 * - https://andy-bell.co.uk/a-modern-css-reset/
 */

/* Use a more intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Core body defaults & typography adjustments */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  -webkit-font-smoothing: antialiased; /* WebKit  */
  -webkit-text-size-adjust: 100%; /** Prevent adjustments of font size after orientation changes in iOS. */
  font-family: 'Work Sans', Arial, sans-serif; /** TODO: replace this with a custom property when available **/
}

/** Preserve the ligatures and kerning of the Aeonik typeface used for headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Aeonik, Arial, sans-serif; /** TODO: replace this with a custom property when available **/
  text-rendering: optimizeLegibility;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
