.uw-RadioGridGroup {
  .uw-RadioGridGroupRoot {
    display: grid;
    gap: 16px;
    min-width: fit-content;
  }
}

@breakpoints {
  .uw-r-columns {
    grid-template-columns: repeat(var(--r-columns), minmax(10px, 1fr));
  }
}
