.uw-BodyText {
  font-family: var(--font-family-body);

  /* the default text colour, this will be overwritten by the color class */
  color: var(--color-brand-midnight);

  &:where([data-truncate]) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /** variants **/
  &:where(.uw-variant-subtitle) {
    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-lg);

    @media (--desktop) {
      font-size: var(--font-size-body-xl);
    }
  }

  &:where(.uw-variant-body) {
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-lg);
  }

  &:where(.uw-variant-legalNote) {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-lg);
  }

  &:where(.uw-variant-caption) {
    font-size: var(--font-size-body-xs);
    line-height: var(--line-height-xl);
  }
}
