.uwp-Heading {
  font-family: var(--font-family-heading);
  /* the default text colour, this will be overwritten by the color class */
  color: var(--color-brand-primaryPurple);

  /** variants **/
  &:where(.uwp-variant-displayHeading) {
    font-size: var(--font-size-heading-3xl);
    line-height: var(--line-height-md);

    @media (--desktop) {
      font-size: var(--font-size-heading-4xl);
    }
  }

  &:where(.uwp-variant-h1) {
    font-size: var(--font-size-heading-2xl);
    line-height: var(--line-height-md);

    @media (--desktop) {
      font-size: var(--font-size-heading-3xl);
    }
  }

  &:where(.uwp-variant-h2) {
    font-size: var(--font-size-heading-xl);
    line-height: var(--line-height-md);

    @media (--desktop) {
      font-size: var(--font-size-heading-2xl);
      line-height: var(--line-height-lg);
    }
  }

  &:where(.uwp-variant-h3) {
    font-size: var(--font-size-heading-md);
    line-height: var(--line-height-lg);

    @media (--desktop) {
      font-size: var(--font-size-heading-lg);
    }
  }

  &:where(.uwp-variant-h4) {
    font-size: var(--font-size-heading-xs);
    line-height: var(--line-height-lg);

    @media (--desktop) {
      font-size: var(--font-size-heading-sm);
    }
  }
}
