.uw-Heading {
  font-family: var(--font-family-heading);
  color: var(--color-brand-primaryPurple);

  &:where(.uw-heading-color) {
    color: var(--heading-color);
  }

  &:where(.uw-variant-displayHeading) {
    font-size: var(--font-size-heading-3xl);
    line-height: var(--line-height-md);

    @media (--desktop) {
      font-size: var(--font-size-heading-4xl);
    }
  }

  &:where(.uw-variant-h1) {
    font-size: var(--font-size-heading-2xl);
    line-height: var(--line-height-md);

    @media (--desktop) {
      font-size: var(--font-size-heading-3xl);
    }
  }

  &:where(.uw-variant-h2) {
    font-size: var(--font-size-heading-xl);
    line-height: var(--line-height-md);

    @media (--desktop) {
      font-size: var(--font-size-heading-2xl);
      line-height: var(--line-height-lg);
    }
  }

  &:where(.uw-variant-h3) {
    font-size: var(--font-size-heading-md);
    line-height: var(--line-height-lg);

    @media (--desktop) {
      font-size: var(--font-size-heading-lg);
    }
  }

  &:where(.uw-variant-h4) {
    font-size: var(--font-size-heading-xs);
    line-height: var(--line-height-lg);

    @media (--desktop) {
      font-size: var(--font-size-heading-sm);
    }
  }
}
