@breakpoints {
  .uwp-r-align-items-start {
    align-items: flex-start;
  }

  .uwp-r-align-items-center {
    align-items: center;
  }

  .uwp-r-align-items-end {
    align-items: flex-end;
  }

  .uwp-r-align-items-baseline {
    align-items: baseline;
  }

  .uwp-r-align-items-stretch {
    align-items: stretch;
  }

  .uwp-r-align-items-space-between {
    align-items: space-between;
  }

  .uwp-r-align-items-space-around {
    align-items: space-between;
  }

  .uwp-r-align-items-space-evenly {
    align-items: space-between;
  }
}
