@breakpoints {
  :where(.uw-r-text-align-left) {
    text-align: left;
  }

  :where(.uw-r-text-align-center) {
    text-align: center;
  }

  :where(.uw-r-text-align-right) {
    text-align: right;
  }
}
