{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@utilitywarehouse/native-ui": "../../packages/native-ui/src",
          "@utilitywarehouse/native-ui/lab": "../../packages/native-ui/src/lab"
        }
      }
    ],
    "@babel/plugin-proposal-export-namespace-from",
    "react-native-reanimated/plugin",
    [
      "react-native-unistyles/plugin"
    ]
  ]
}