.uw-Alert {
  flex-direction: row;
  gap: var(--space-100);
  padding: var(--space-200);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--alert-border-color);
  background-color: var(--alert-background-color);
  color: var(--alert-text-color);

  > :where(svg, [data-icon]) {
    color: var(--alert-icon-color);
  }

  &:where([data-colorscheme='cyan']) {
    --alert-text-color: var(--color-cyan900);
    --alert-background-color: var(--color-cyan50);
    --alert-icon-color: var(--color-cyan700);
    --alert-border-color: var(--color-cyan500);
  }
  &:where([data-colorscheme='green']) {
    --alert-text-color: var(--color-green900);
    --alert-background-color: var(--color-green50);
    --alert-icon-color: var(--color-green700);
    --alert-border-color: var(--color-green500);
  }
  &:where([data-colorscheme='gold']) {
    --alert-text-color: var(--color-gold900);
    --alert-background-color: var(--color-gold50);
    --alert-icon-color: var(--color-gold700);
    --alert-border-color: var(--color-gold500);
  }
  &:where([data-colorscheme='red']) {
    --alert-text-color: var(--color-red900);
    --alert-background-color: var(--color-red50);
    --alert-icon-color: var(--color-red700);
    --alert-border-color: var(--color-red500);
  }

  .uw-IconButton {
    height: auto;
    width: auto;
    &:where(:active) {
      background-color: transparent;
    }
  }
}

.uw-AlertLink {
  font-weight: var(--font-weight-semibold);
  color: var(--alert-link-color);
  text-decoration-color: var(--alert-link-color);
  &:where(:focus-visible) {
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--alert-focus-color);
  }
  &:where(:visited) {
    color: var(--alert-link-color);
    text-decoration-color: var(--alert-link-color); /* TODO: do we need this? */
  }

  &:where([data-colorscheme='cyan'] &) {
    --alert-link-color: var(--color-cyan700);
    --alert-focus-color: var(--color-cyan700);
  }
  &:where([data-colorscheme='green'] &) {
    --alert-link-color: var(--color-green700);
    --alert-focus-color: var(--color-green700);
  }
  &:where([data-colorscheme='gold'] &) {
    --alert-link-color: var(--color-gold700);
    --alert-focus-color: var(--color-gold700);
  }
  &:where([data-colorscheme='red'] &) {
    --alert-link-color: var(--color-red700);
    --alert-focus-color: var(--color-red700);
  }
}

.uw-AlertButton {
  color: var(--alert-button-color);
  @media (hover: hover) {
    &:where(:hover) {
      color: var(--alert-button-color-hover);
    }
  }
  /* TODO: can we just move this to use once in the root uw-Alert class?  */
  &:where(:focus-visible) {
    outline: none;
    border-radius: 4p;
    box-shadow: 0 0 0 2px var(--alert-focus-color);
  }
}
.uw-AlertTitle {
  color: var(--alert-text-color);
}
