body {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin: 20px;
}
img {
  height: 50px;
}
button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  outline: none;
}
.export {
  border-radius: 9999px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  min-height: 48px;
  background-color: rgb(117, 167, 253);
  font-size: 16px;
  line-height: 16px;
  font-family: 'Work Sans';
  font-weight: 500;
  color: rgb(0, 19, 51);
  border-width: 0px;
  outline: none;
  margin-top: 8px;
}
input {
  border: none;
  outline: none;
  padding: 8px;
}
input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
#create:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}
input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
