.uw-TextLink {
  --text-link-color: var(--color-cyan600);
  --text-link-color-active: var(--color-cyan800);
  --text-link-color-visited: var(--color-purple700);
  --text-link-focus-outline-color: var(--color-cyan700);

  /* unset button styles when asChild is used */
  &:where(button) {
    outline: transparent;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
  }

  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: var(--text-link-color);
  text-decoration: underline;
  text-decoration-color: var(--text-link-color);
  border-radius: 4px;

  &:where(:visited) {
    --text-link-color: var(--text-link-color-visited);
  }

  @media (hover: hover) {
    &:where(:hover) {
      text-decoration: none;
    }
  }

  &:where(:active) {
    --text-link-color: var(--text-link-color-active);
  }

  &:where(:focus-visible) {
    outline: 2px solid var(--text-link-focus-outline-color);
    outline-offset: 2px;
  }

  &:where([data-color-custom]) {
    --text-link-color: var(--text-link-color-custom);
    --text-link-color-active: var(--text-link-color-custom);
    --text-link-color-visited: var(--text-link-color-custom);
  }

  &:has(svg, [data-icon]) {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    gap: 4px;
  }
}
