.uw-FieldsetLegend {
  --fieldset-legend-color: var(--color-grey1000);
  --fieldset-legend-color-disabled: var(--color-grey400);

  padding: 0;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-lg);
  color: var(--fieldset-legend-color);

  &:where([data-disabled]) {
    --fieldset-legend-color: var(--fieldset-legend-color-disabled);
  }
}
