@font-face {
  font-family: 'Aeonik-Bold';
  src: url('./fonts/Aeonik/Aeonik-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('./fonts/Aeonik/Aeonik-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'WorkSans-Black';
  src: url('./fonts/WorkSans/WorkSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('./fonts/WorkSans/WorkSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'WorkSans-ExtraBold';
  src: url('./fonts/WorkSans/WorkSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'WorkSans-ExtraLight';
  src: url('./fonts/WorkSans/WorkSans-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'WorkSans-Light';
  src: url('./fonts/WorkSans/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('./fonts/WorkSans/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('./fonts/WorkSans/WorkSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('./fonts/WorkSans/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'WorkSans-Thin';
  src: url('./fonts/WorkSans/WorkSans-Thin.ttf');
  font-weight: 100;
}
