.uw-CheckboxBase {
  --checkbox-box-shadow-color: var(--color-grey500);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  flex-shrink: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  color: var(--color-cyan1000);
  background-color: white;
  outline: none;

  &::before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background-color: inherit;
    box-shadow: inset 0 0 0 2px var(--checkbox-box-shadow-color);
    outline: 2px solid transparent;
  }

  &:where([data-state='unchecked']) {
    background-color: white;

    --checkbox-box-shadow-color-disabled: var(--color-grey300);
  }

  &:where([data-state='checked']) {
    background-color: var(--color-cyan500);

    --checkbox-box-shadow-color: var(--color-cyan500);
    --checkbox-box-shadow-color-disabled: var(--color-grey150);
    --checkbox-background-color-disabled: var(--color-grey150);
  }

  @media (hover: hover) {
    &:where(:hover:enabled) {
      border-color: var(--color-cyan500);
      box-shadow: 0 0 0 8px var(--color-cyan75);
    }
  }

  &:where([data-disabled], [data-disabled] &) {
    --checkbox-box-shadow-color: var(--checkbox-box-shadow-color-disabled);

    color: var(--color-grey400);
    background-color: var(--checkbox-background-color-disabled);
  }

  &:where(:focus-visible) {
    border-color: var(--color-cyan500);
  }

  .uw-CheckboxBaseIndicator {
    position: absolute;
  }
}
