.uw-RadioGroupRoot {
  min-width: fit-content;
  flex-wrap: wrap;

  &:where([data-orientation='horizontal']) {
    flex-direction: row;
  }

  &:where([data-orientation='vertical']) {
    flex-direction: column;
  }
}
