.uwp-Label {
  --label-color: var(--color-grey1000);
  --label-color-disabled: var(--color-grey400);
  --label-font-weight: var(--font-weight-semibold);
  --label-font-weight-nested: var(--font-weight-regular);

  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--label-font-weight);
  line-height: var(--line-height-lg);
  color: var(--label-color);

  &:where([data-disabled], [data-disabled] &) {
    color: var(--label-color-disabled);
  }

  &:where(.uwp-nested) {
    font-weight: var(--label-font-weight-nested);
  }
}
