.uwp-Button {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--button-line-height);
  min-width: var(--button-min-width);
  gap: var(--space-100);
  padding-block: var(--button-padding-block);
  padding-inline: var(--button-padding-inline);

  @breakpoints {
    &:where(.uwp-r-size-medium) {
      --button-line-height: 1.5;
      --button-min-width: 136px;
      --button-padding-inline: var(--space-300);
      --button-padding-block: var(--space-200);
    }

    &:where(.uwp-r-size-small) {
      --button-line-height: 1;
      --button-min-width: 120px;
      --button-padding-inline: var(--space-200);
      --button-padding-block: var(--space-100);
    }
  }
}
