name: 'Chromatic'

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'packages/web-ui/**'
      - 'packages/colour-system/**'

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: pnpm run build
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/web-ui
          buildScriptName: build:storybook
          exitOnceUploaded: true
          onlyChanged: true
